<h1>Questions#answer</h1>
<p><%= @answer %></p>
<!-- Add logic here -->
<%= link_to "Ask another question!", ask_path %>

<!-- if stat-t -->
<!-- If the message is I am going to work, the coach will answer Great!
If the message has a question mark ? at the end, the coach will answer Silly question, get dressed and go to work!.
Otherwise he will answer I don't care, get dressed and go to work -->

<!-- %=  @response %>
post to asnwer -->
