<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<div>
<form action="answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

</div>

<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<div>
<form action="answer">
  <input type="text" name="ask">
<IS THE NAME CORRECT^^? -->
<!--   <input type="submit" value="Ask!">
</form>
</div> -->
